.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
}

.home-btn {
  border-radius: 500px;
  padding: 10px 48px;
}