/* Importing Lato Font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* Chloe Font */
@font-face {
  font-family: "Chloe";
  src: url('./fonts/chloe-regular-webfont.woff') format('woff'),
    url('./fonts/Chloe-Regular.otf') format('opentype')
}
/* VIDEO */
.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}
/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  .video-bg > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
  .video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.video_overlay {
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  background-color: #000
}
/* PALLETTE TEXT COLORS */
.dark-text {
  color: #474748;
}
.light-text {
  color: #F0ECE6;
}
.red-text {
  color: #D8544F;
}
.gray-text {
  color: #A5A3A4;
}
.green-text {
  color: #9BBFB8;
}
.white-background {
  background-color: #fff;
}
/* GENERAL */
@media only screen
and (max-width : 767px) {
  .reviews-img {
    display: none;
  }
}
.container-fluid {
  font-family: Chloe; /* by default Chloe */
  padding: 0;
  font-size: 1.3vmin;
}
.body {
  padding-left: 5em;
  padding-right: 5em;
}
.span-block {
  display: block;
}
.span-inline-block {
  display: inline-block;
}
.lato {
  font-family: lato;
}
.chloe {
  font-family: Chloe;
}
.row-space-8 {
  padding-top: 8em;
}
.medium-text {
  font-size: 2em;
}
/* Top menu */
.navbar {
  justify-content: flex-end;
}
.full-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-dark .nav-item .nav-link  {
  color: #fff ;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 15px;
}
.navbar-dark .nav-item .nav-link:hover {
  color: #D8544F;
}
.navbar-toggler {
  margin-right: 1em; 
}
.logo {
  color: #fff;
  font-size: 50px;
}
.navbar-brand {
  color: #fff !important;
  font-size: 4.5em;
  flex: 1;
}

/* Bottom Menu */
.nav-link-bottom {
  color: #000;
  font-size: 3.5em;
  opacity: 0.5;
  overflow: hidden;
  position: relative;
}
.nav-link-bottom:hover {
  opacity: 1;
  color: #000;
  text-decoration: none;
}
.nav-link-bottom:hover + .right-arrow {
  opacity: 1;
}
.nav-link-bottom:hover:after,
.nav-link-bottom:focus:after,
.nav-link-bottom:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
.nav-link-bottom:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: 10px;
  background: #000;
  height: 1px;
  transition: width .3s ease-out;
}
.nav-link-secondary {
  font-size: 1.4em;
  opacity: 0.5;
  line-height: 0.5;
  font-family: lato;
}
.bottom-menu {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 16vh;
}
.col-item {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.right-arrow {
  opacity: 0;
  margin-left: 10px;
  width: 20px;
  height:15px;
  margin-top: 5px;
  align-self: center;
  transition: opacity .3s ease-in
}
/* Introduction */
.primary-title {
  color: #fff;
  font-size: 10em;
  line-height: 1;
}
.secondary-title {
  color: #fff;
  font-size: 2.3em;
  border-left: #D8544F solid 1.5px;
  padding-left: .8em;
  line-height: 1.2;
  padding-left: -2em;
}
.introduction {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*--------------------*/

/* How does it work */
.review-title-span { 
  display: block;
  font-family: Chloe;
  font-size: 1.5em;
}
.reviews-img {
  width: 100%;
}
.section {
  font-size: 1em;
  font-family: lato;
  margin-bottom: 4em;
}
.description {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3;
  text-align: justify;
}
.ul-straight {
  margin-left: -1em;
  list-style: none
}
.ul-straight li::before {
  content: '\2022';
  color: #9BBFB8;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.col-description {
  margin-top: 2.5em;
  text-align: justify;
  line-height: 1.25;
  font-size: 2em;
}
.start-subscription {
  border-bottom: #9BBFB8 1px solid;
  font-weight: bold;
}
.reviews-p {
  margin-bottom: 2em;
}
/* PLANS */
.plan-title {
  font-size: 1.5em;
}
.plan-info-text {
  font-size: 1.3em;
}
.plan-container {
  position: absolute;
  bottom: 3em;
  width: 60%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 2em;
}
.img-resizer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
/* FAQ */
.number {
  color: #9BBFB8;
  font-weight: bold;
  font-size: 4.5em;
  font-family: Chloe;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
.non-bordered-row {
  border-width: 0
}
#faq-table {
  margin-bottom: 2em;
}
#faq-table th, #faq-table td {
  border-width: 0;
}
#faq-table td {
  vertical-align: unset !important;
  text-align: justify;
}
/* CONTACT */
.form-control.is-valid:focus {
  box-shadow: unset;
}
.form-control.is-invalid:focus {
  box-shadow: unset;
}
.form-control:focus {
  box-shadow: unset;
}
.contact-input {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-radius: unset;
}


